/* Main Page Styles */
.LoginPage {
    margin: 0;
    font-family: 'Canva Sans', sans-serif;
    background: linear-gradient(#000000, #202029);
    height: 100vh;
    position: relative; /* Added this to position child elements */
}

/* Header Styles */
.login-header {
    background-color: #000000;
    padding: 20px;
    font-size: 25px;
    color: white;
    text-shadow: 3px 0px 0px cyan, 2px 2px 0px rgb(255, 0, 212);
    font-family: 'Bernoru', sans-serif;
    position: absolute; /* Makes the header positioned absolutely */
    top: 0;
    width: 100%; /* Ensure the header takes the full width */
}

/* Login Box Styles */
.login-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 30px;
    height: auto;
    width: 400px;
    max-width: 100%;
    position: absolute; /* Changed from fixed to absolute */
    top: 20%; /* Centered vertically */
    left: 50%; /* Centered horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
}

/* Login Title Styles */
.login-title {
    font-family: 'Fira Code', monospace;
    color: white;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 700;
}
.login-explanation {
    font-family: 'Fira Code', monospace;
    color: white;
    margin-bottom: 2rem;
    font-size: 0.75rem;
    font-weight: 100;
}

#login-steam {
    font-size: 15px;
    font-family: 'Fira Code', monospace;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #b91ab9;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
}

#login-steam:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.steam-image2 {
    margin-right: 5px;
}
